#puertos-------------
APIPORT=4001
WEBPORT=4002
BACKPORT=4003
#bd------------------
DB_HOST =localhost
DB_USER =root
DB_PASSWORD= 
DB_NAME= citi
DB_PORT=3306
#pass-----------------
JWT_SECRET=csdfsdfsdf
GEOKEY=sdfsdfsdf